<!DOCTYPE html>
<html lang="ptbr">
<head>
  {% block title %}<title>Smarkt</title>{% endblock %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {% load static %}

  <!-- toastr notifications -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>

  <div class="container-fluid">

    <div class="row">
      {% block sidebar %}
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">Smarkt</a>
          </div>

          <ul class="nav navbar-nav">
              {% if user.is_authenticated %}
                <li ><a> Usuário: {{ user.username }} </a></li>
                
                <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
              {% else %}
                <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
              {% endif %} 
          </ul>
        </div>
      </nav>
    {% endblock %}
    <div align="center">
    {% block content %}{% endblock %}

    {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}
                <span class="page-current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}   
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Próximo</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    {% endblock %}
    </div>
  </div>
 </div>

    <!-- Scripts -->    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- toastr notifications -->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <script type="text/javascript" href="{% static 'js/ajax-crud.js' %}"> </script>


<script> 

$(document).ready(function () {
    console.log("at least the damn thing is loading")
      $.ajaxSetup({
        headers: {
            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content'),
            'Content-Type': 'application/x-www-form-urlencoded',
            'Authorization': 'Bearer 1gAlTa351HAlQH4iotbQpX59nk0Hx0'
        }
    })
    
    $.ajax({            
        
        url: "/api/products/",

        type:'GET',

        success: function(data) {
          console.log(data);
          var rows = '';
          for (var i=0; i<data.length; i++) {  
            var product = data[i];
            rows +='<tr class="separated">\n\
            <td> Produto </td>\n\
            <td> Quantidade </td>\n\
            <td> Preço Médio: </td>\n\
            </tr>'
            rows += '\n<tr><td>' + product.name + 
            ' </td> <td>' + product.quantity + 
            ' </td> <td>' +  product.average_price + ' \n</td></tr>';
          }
          $('#list_table').html(rows);

        }
    });

  });
</script>


</body>
</html>